:root {
    --dark-color:#1e1e1e;
    --green-color:#00c896;
    --white-color:#ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--dark-color);
}
a{
    color: var(--white-color);
    text-decoration: none;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-weight: 700;
    color: var(--green-color);
    font-size: 32px;

}
.navbar .logo span{
    color: var(--white-color);
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 18px;
    font-weight: 500;
    transition: 0.55s;
}
.navbar ul li a:hover,
.navbar ul li.active a{
    color: var(--green-color);
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: var(--white-color);
    gap: 80px;
}
.home-info h1{
    font-size: 50px;
}
.home-info h2{
    font-size: 32px;
    color: var(--green-color);
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var(--green-color);
    border: 2px solid var(--green-color);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--green-color);
    font-size: 16px;
    color: var(--dark-color);
    font-weight: 600;
    transition: all 0.35 ease;
}
.btn:hover{
    background: transparent;
    color: var(--green-color);
    box-shadow: none;
}
.home-info .btn-sci .sci{
    margin-left: 20px;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid var(--green-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--green-color);
    margin: 0 8px;
    transition: all 0.3s ease;
}
.home-info .btn-sci .sci a:hover{
    background: var(--green-color);
    color: var(--dark-color);
    box-shadow: 0 0 10px var(--green-color);
}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: conic-gradient(transparent, transparent, transparent, var(--green-color));
    animation: rotate 10s linear infinite;
    z-index: 0;
}
.home-img .img-box::after{
    animation-delay: -5s;
}
@keyframes rotate{
    100%{transform: rotate(360deg);}
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    border-radius: 50%;
    border: 0.1px solid var(--dark-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    top: 30px;
    mix-blend-mode: lighten;
}
